
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2cb3f3;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-size: 56px;
}

h1 {
  font-weight: bolder;
  margin-bottom: 2px;
}
h2 {
  font-weight: 400;
  font-size: 40px;
}

.bem-vindo {
  margin-top: 50px;
  text-align: center;
}

.touca {
  width: 880px;
  height: 616px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;
}

@media (max-width: 480px) {
  .touca {
    width: 270px;
    height: 220px;
    border-top-left-radius: 6.5vh;
    border-top-right-radius: 6.5vh;
  }
}

.rosto {
  background-color: #ffe1c9;
  width: 692px;
  height: 487px;
  border-radius: 50%;
  position: absolute;
  left: 13%;
  bottom: 10%;
}

@media (max-width: 480px) {
  .rosto {
    width: 200px;
    height: 160px;
  }
}

.olhoUm,
.olhoDois {
  background-color: #000000;
  width: 55.7px;
  height: 55.7px;
  border-radius: 50%;
  position: absolute;
  left: 24%;
  bottom: 60%;
}

@media (max-width: 480px) {
  .olhoUm,
  .olhoDois {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25%;
    bottom: 60%;
  }
}
.olhoDois {
  position: absolute;
  left: 67%;
}

form {
  position: absolute;
  left: 25%;
  bottom: 22%;
}

input {
  display: block;
  width: 350px;
  height: 63.65px;
  border: 3px solid #000000;
  color: #cccccc;
  padding: 10px;
  font-size: 24px;
}

@media (max-width:480px) {
  input {
    width: 102px;
    height: 20px;
    border: 2px solid #000000;
    padding: 6px;
    font-size: 15px;
    text-align: justify;
  }
}

button {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #55A603;
  color: #B2F272;
  box-shadow: rgba(0, 0, 0, 0.356) 0px 4px;
  font-size: 24px;;
  border: 0;
}