@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

@import url(header/header-grid.css);
@import url(main/principal/main-grid.css);
@import url(footer/footer-grid.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}

ul {
  display: flex;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

p,
li {
  font-family: "Montserrat", sans-serif;
}


footer {
  width: 100%;
}


.menutest {
  width: 200px;
}

.menuHa:checked ~ ul {
  max-height: 300px;
  height: auto;
  transition: all 0.4s linear;
}

.menutest ul {
  overflow: hidden;
  max-height: 0px;
  transition: all 0.4s linear;
}

label#menuH {
  background-color: #09f;
  position: relative;
  padding: 5px;
  display: none;
}

.menutest ul li {
  padding: 3px;
}

.menutest ul li a {
  background-color: #ffc488;
  padding: 5px;
  display: block;
}


