.principal-cards {
  width: 100%;
}

.principal-cards-grid {
  width: 310px;
  margin: auto;
}

.card-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.card-one-one {
  width: 150px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.card-one-two {
  width: 74px;
}

.card-one-three {
  width: 76px;
}

.card-one-four {
  width: 155px;
}

.card-two {
  width: 310px;
  padding: 35px 0px 35px 0px;
}

.card-two img {
  width: 100%;
}

.card-three {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
}


.card-three-one {
  width: 88px;
  height: 186px;
}

.card-three-two {
  width: 88px;
  height: 186px;
}

.card-three-three {
  width: 88px;
  height: 84px;
  margin: 10px 0px 0px 0px;
}

.card-three-four {
  width: 88px;
  height: 84px;
}

.card-three-five {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.card-four {
  width: 310px;
  margin: 0 auto;
}

.card-four img {
  width: 100%;
  height: 480px;
  padding-top: 35px;
}

